# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
user-data/.startup-incomplete
user-data/addonStartup.json.lz4
user-data/bounce-tracking-protection.sqlite
user-data/cert9.db
user-data/compatibility.ini
user-data/containers.json
user-data/content-prefs.sqlite
user-data/cookies.sqlite
user-data/domain_to_categories.sqlite
user-data/domain_to_categories.sqlite-journal
user-data/extension-preferences.json
user-data/extensions.json
user-data/f7c7be73.sqlite
user-data/f7c7be73.sqlite-shm
user-data/f7c7be73.sqlite-wal
user-data/favicons.sqlite
user-data/favicons.sqlite-shm
user-data/favicons.sqlite-wal
user-data/handlers.json
user-data/key4.db
user-data/parent.lock
user-data/permissions.sqlite
user-data/pkcs11.txt
user-data/places.sqlite
user-data/places.sqlite-shm
user-data/places.sqlite-wal
user-data/prefs.js
user-data/search.json.mozlz4
user-data/sessionCheckpoints.json
user-data/shield-preference-experiments.json
user-data/storage.sqlite
user-data/times.json
user-data/cache2/entries/1E781307C6F07D709BE7031F38E02A6438EA833B
user-data/datareporting/state.json
user-data/datareporting/glean/db/data.safe.bin
user-data/shader-cache/5d80bcd5fa535ecf
user-data/shader-cache/9cc59bb1c00eeeb5
user-data/shader-cache/9d6a7a9b01f87e97
user-data/shader-cache/9e2197b2429fa1ff
user-data/shader-cache/70a2e32dac9e3200
user-data/shader-cache/181cd6a3fb2d584c
user-data/shader-cache/948afaaf8dccba7f
user-data/shader-cache/6362aef68524a15f
user-data/shader-cache/8704ac6964b954b0
user-data/shader-cache/89518d7dbbdd75f5
user-data/shader-cache/a139662d1fd50305
user-data/shader-cache/b62c9794693ba176
user-data/shader-cache/c6126e77e9195f41
user-data/shader-cache/cba0196586fc5d35
user-data/shader-cache/e0a048b6588f877d
user-data/shader-cache/e08459d34abe7b11
user-data/shader-cache/e518269e4711e913
user-data/shader-cache/efc27f9d8a1eb16f
user-data/shader-cache/startup_shaders
user-data/startupCache/urlCache.bin
user-data/startupCache/webext.sc.lz4
user-data/storage/ls-archive.sqlite
user-data/storage/permanent/chrome/.metadata-v2
user-data/storage/permanent/chrome/idb/1451318868ntouromlalnodry--epcr.sqlite
user-data/storage/permanent/chrome/idb/1451318868ntouromlalnodry--epcr.sqlite-shm
user-data/storage/permanent/chrome/idb/1451318868ntouromlalnodry--epcr.sqlite-wal
user-data/storage/permanent/chrome/idb/1657114595AmcateirvtiSty.sqlite
user-data/storage/permanent/chrome/idb/1657114595AmcateirvtiSty.sqlite-shm
user-data/storage/permanent/chrome/idb/1657114595AmcateirvtiSty.sqlite-wal
user-data/storage/permanent/chrome/idb/2823318777ntouromlalnodry--naod.sqlite
user-data/storage/permanent/chrome/idb/2823318777ntouromlalnodry--naod.sqlite-shm
user-data/storage/permanent/chrome/idb/2823318777ntouromlalnodry--naod.sqlite-wal
user-data/storage/permanent/chrome/idb/3561288849sdhlie.sqlite
user-data/storage/permanent/chrome/idb/3561288849sdhlie.sqlite-shm
user-data/storage/permanent/chrome/idb/3561288849sdhlie.sqlite-wal
user-data/storage/permanent/chrome/idb/3870112724rsegmnoittet-es.sqlite
user-data/storage/permanent/chrome/idb/3870112724rsegmnoittet-es.sqlite-shm
user-data/storage/permanent/chrome/idb/3870112724rsegmnoittet-es.sqlite-wal
